In [60]:
import numpy as np
import pandas as pd

In [83]:
# simulate a potential recommendation set
np.random.seed(1740)
pre_df = {'hshd':np.repeat('Phil', 10)
         , 'product': ['pb', 'jelly', 'crackers', 'kale', 'oranges', 'spinach', 'carrots', 'frzn pizza', 'frzn enchilladas', 'halo top']
          , 'category' : np.hstack((np.repeat('center_store', 3), np.repeat('produce', 4), np.repeat('frozen', 3)))
          , 'category_id' : [1,1,1,2,2,2,2,3,3,3]
          , 'cond_prob': np.random.beta(1,2, 10)
         }

pre_sort = pd.DataFrame(pre_df)
df = pre_sort.sort_values(['category_id', 'cond_prob'], ascending=[True, False])
df

   hshd           product      category  category_id  cond_prob
0  Phil                pb  center_store            1   0.456002
1  Phil             jelly  center_store            1   0.182978
2  Phil          crackers  center_store            1   0.157380
4  Phil           oranges       produce            2   0.964631
6  Phil           carrots       produce            2   0.768404
5  Phil           spinach       produce            2   0.537897
3  Phil              kale       produce            2   0.281130
8  Phil  frzn enchilladas        frozen            3   0.878209
9  Phil          halo top        frozen            3   0.193273
7  Phil        frzn pizza        frozen            3   0.021500

In [100]:
# select 3 products for recommendation
np.random.seed(1742)
# indexes from 1 - sry
np.random.choice(3, 3
     , p=[0.1, 0.7, 0.2]) + 1

array([1, 2, 2])

From the above, we can see that we will keep the first recommendation from the first category (center_store) and the first two recommendations from the second category (produce)

In [134]:
# this solution does not generalize
one = df[df.category_id==1].iloc[0]
two = df[df.category_id==2].iloc[0]
three = df[df.category_id==2].iloc[1]

In [135]:
final_recos = pd.DataFrame([one, two, three])
final_recos

   hshd  product      category  category_id  cond_prob
0  Phil       pb  center_store            1   0.456002
4  Phil  oranges       produce            2   0.964631
6  Phil  carrots       produce            2   0.768404